/* Impostazioni generali */

body{
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}


/* Formattazione Header */
#header-cover{
    background-color: rgb(71, 180, 248,0.7);
    /*background-image: url(img/pattern.png);*/
    background-size: cover;
    background-attachment: fixed;
}
/* /Formattazione Header */


/* Formattazione Sezione Titolo */
h3, h6 {
    color: rgb(134, 133, 133);
}
.author{
    color: rgb(71, 180, 248);
}
/* /Formattazione Sezione Titolo */


/* Formattazione Sezione Immagini Introduttive */
.photo-title{
    font-size: 70%;
}