/* Impostazioni generali */
body{
    font-size: 18px;
    font-weight:300;
    font-family: 'Lato', sans-serif;
    
}

main {
   margin: auto 10% auto 10%;
}

/* Formattazione Header */
#header-cover {
    height: 100px;
    background:rgba(29, 163, 247, 0.89) url("img/pattern.png");
    background-size: 400px 200px;
}

#header-logo{
    margin: auto 10%;
}


/* Formattazione Sezione Titolo */
h4, h6 {
    color: rgb(134, 133, 133);
}
h4{
    height: 0;
}
.author {
    color: rgb(71, 180, 248);
}

/* Formattazione Sezione Immagini Introduttive */
.photo-title {
    font-size: 70%;
}
#photo-description{
    height: 0;
}

/* Formattazione Sezione Testo Centrale */
.highlighted-text {
    background-color: rgb(255, 251, 0);
}

/* Formattazione Tabella */
#main-table {
    width: 100%;
}
thead {
    text-align: left;
    color:white;
    background-color: rgb(22, 126, 211);
}
.colored-row {
    background-color: rgb(133, 176, 211)
}

/* Formattazione Sezione Altri Argomenti */
#argument-monitor {
    width: 312px;
    height: 208px;
    background-image: url("img/monitor.jpg");
}
#argument-graph {
    width: 312px;
    height: 208px;
    background-image: url("img/graph.jpg");
}
h3 {
    color:white;
}
